@using Formation.Application.Common.Model
@using Formation.Domain.Entities.Common
@typeparam TDto

<nav aria-label="Page navigation example">
    <ul class="pagination">
        @if (PaginatedList.HasPreviousPage)
        {
            <li class="page-item"><a class="page-link" href="@Link/@(CurrentPage-1)">Previous</a></li>
        }
        @for(var i = 1; i<=PaginatedList.TotalPages; i++)
        {
            <li class=@("page-item "+ (i==CurrentPage?"active":""))><a class="page-link" href="@Link/@i">@i</a></li>
        }
        @if (PaginatedList.HasNextPage)
        {
            <li class="page-item"><a class="page-link" href="@Link/@(CurrentPage+1)">Next</a></li>
        }
    </ul>
</nav>

@code {
    [Parameter]
    public string Link { get; set; }  
    
    [Parameter]
    public int CurrentPage { get; set; } 
    
    [Parameter]
    public PaginatedList<TDto> PaginatedList { get; set; }
}
