@page "/"
@using MediatR
@using Formation.Application.Books.Queries.GetAll
@using Formation.Application.Books.Commands.DeleteBook
@using Formation.Domain.Entities
@using Formation.Data
@inject ISender Sender

<PageTitle>Index</PageTitle>

<h1>Acceuil</h1>

<SurveyPrompt Title="How is Blazor working for you?" />


